<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style3.css">
</head>
<body>
    <nav>
      <ul>
        <button><a href="/">Atpakaļ</a></button>
      </ul>
    </nav>

    <form action="">
        <h1 title="registracijas forma">
            Papildus informacija
        </h1>
        <div class="class">
         <label for=""> Vārds</label>
         <input type="text">
        </div>
        <div class="class">
            <label for=""> Uzvārds</label>
            <input type="text">
        </div>
        <div class="class">
            <label for=""> e-mail</label>
            <input type="email">
        </div>
        <div class="class">
            <label for=""> Talrunis</label>
            <input type="text">
        </div>
        <div class="class">
            <label for=""> Parols</label>
            <input type="password">

        </div>
        <div class="class">
            <center><button>Pievienot</button></center>
        </div>
    </form>
</body>
</html>